body{
  background-color: #ff6e00;
  text-align: center;
  margin: 0;
}

.menu {
  width: 100%;
  background-color: #111110;
  color: white;
  text-align: left;
  text-decoration: none;
  padding: 1.1%;
}

.menu a:hover{
  background-color: #ff6e00;
  color: #111110;
}

.context-home, .context-project, .context-bio{
  margin: 0 15% 0 15%;
}

.context-home li {
  list-style-type: none;
}

.vertical {
  width: 160px;
  height: 220px;
}

.horizontal {
  width: 250px;
  height: 150px;
}

.title{
  color: #ffffff;
  font-size: 30px;
}

.context-project p{
  color: #111110;
  font-family: courier;
  border-style: solid #ffffff;
  background-color: #ffffff;
  padding: 5%;
}

input[type=text], textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-top: 2px;
  margin-bottom: 12px;
  resize: vertical;
  min-height: 35px;
  max-height: 100px;
}

input[type=submit] {
  background-color:#ff4300;
  color: #ffffff;
  padding: 12px 20px;
  border: none;
  border-radius:15px;
  cursor: pointer;
}

input[type=submit]:hover {
background-color: #e63900;
}

.container {
  width: 50%;
  max-height: 75%;
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 10px;
  margin-left: 24%;
}

.column {
  width: 60%;
  margin: 1% 0 0 18%;
  padding: 20px;
}
